{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center w-full min-h-screen h-full">
        <form method="post">
            {% if error %}
                <div class="bg-red-500 text-white p-4 rounded-lg mb-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
               <div class="mb-3 text-indigo-300">
                   You are logged in as <span class="font-bold">{{ app.user.userIdentifier }}</span>, <a href="{{ path('app_logout') }}" class="text-indigo-500 hover:text-indigo-300">Logout</a>
               </div>
            {% endif %}

            <div class="flex flex-col mb-4 bg-gray-800 p-6 rounded-lg shadow-lg">
                <h1 class="text-white text-2xl mb-4">Please sign in</h1>
                <label for="username" class="text-indigo-300 mb-2">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control p-2 mb-4 rounded bg-gray-900 text-white border border-indigo-500" autocomplete="email" required autofocus>
                <label for="password" class="text-indigo-300 mb-2">Password</label>
                <input type="password" name="_password" id="password" class="form-control p-2 mb-4 rounded bg-gray-900 text-white border border-indigo-500" autocomplete="current-password" required>
               <button class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50" type="submit">
                   Sign in
               </button>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
            #}
        </form>
    </div>
    <p>No account? <a href="{{ path('app_register') }}">Register</a>
{% endblock %}
