{% extends 'base.html.twig' %}

{% block title %}Quiz Details{% endblock %}

{% block body %}
    <style>
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
    <div class="flex flex-col items-center justify-center w-full min-h-screen h-full bg-gray-900 text-white">
        <div class="flex flex-col mb-4 bg-gray-800 p-6 rounded-lg shadow-lg w-full max-w-lg">
            <h1 class="text-white text-2xl mb-4">{{ 'quiz_title'|trans({'%prompt%': quiz.prompt}) }}</h1>

            <ul class="list-disc list-inside mb-4">
                <li>{{ 'quiz_id'|trans }}: {{ quiz.id }}</li>
                <li>{{ 'quiz_prompt'|trans }}: {{ quiz.prompt }}</li>
                <li>{{ 'quiz_user'|trans }}: {{ quiz.user.email }}</li>
            </ul>

            <h2 class="text-indigo-300 text-xl mb-4">{{ 'random_number_prompt'|trans }}</h2>
            <form method="post" action="{{ path('app_quiz_submit') }}" class="flex flex-col">
                <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
                {% for question in quiz.questions %}
                    <div class="mb-4">
                        <h3 class="text-white mb-2">{{ question.content }}</h3>
                        <ul class="list-none">
                            {% for option in question.options %}
                                {% if question.type == constant('App\\Enum\\QuestionType::MULTIPLE') %}
                                    <li class="mb-2">
                                        <input type="checkbox" id="option{{ option.id }}" name="question{{ question.id }}[]" value="{{ option.id }}" class="mr-2">
                                        <label for="option{{ option.id }}" class="text-white">{{ option.content }}</label>
                                    </li>
                                {% else %}
                                    <li class="mb-2">
                                        <input type="radio" id="option{{ option.id }}" name="question{{ question.id }}" value="{{ option.id }}" class="mr-2" required>
                                        <label for="option{{ option.id }}" class="text-white">{{ option.content }}</label>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                <button type="submit" class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">
                    {{ 'submit_button'|trans }}
                </button>
            </form>

        <div>
            <h3 class="text-indigo-300 text-xl mt-6 mb-4">{{ 'random_number_prompt'|trans }}</h3>
            <input type="number" id="numAnswers" min="1" class="form-control p-2 mb-4 rounded bg-gray-900 text-white border border-indigo-500">
            <button type="button" onclick="getRandomNumber()" class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">
                {{ 'get_random_number_button'|trans }}
            </button>
            <p id="randomNumberResult" class="text-white mt-4"></p>
        </div>


        <div>
            <h3 class="text-indigo-300 text-xl mt-6 mb-4">{{ 'motivation_prompt'|trans }}</h3>
            <div class="form-control p-2 mb-4 rounded bg-gray-900 text-white border border-indigo-500 min-h-9">
                <p id="motivation"></p>
            </div>
            <button id="btn-motivation" onclick="getMotivation()" class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">
                {{ 'get_motivation_button'|trans }}
            </button>
        </div>

    </div>

    <script>
        const randomNumberApiUrl = "{{ random_number_api_url }}";
        const motivationalApiUrl = "{{ motivational_api_url }}";

        function getRandomNumber() {
            const numAnswers = document.getElementById('numAnswers').value;
            fetch(`${randomNumberApiUrl}${numAnswers}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('randomNumberResult').innerText = `{{ 'random_number_result'|trans }}: ${data.random_number}`;
                })
                .catch(error => {
                    console.error('Error fetching random number:', error);
                });
        }

        function getMotivation() {
            fetch(`${motivationalApiUrl}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('motivation').innerText = data.motivation;
                })
                .catch(error => {
                    console.error('Error fetching motivation:', error);
                });
        }
    </script>

{% endblock %}